html { overflow: auto; }
body { 
  font: 14pt Arial, Helvetica, sans-serif;
  color: #cfb845; 
  background: #141414;
  display: flex;
  flex-direction: column;
  align-content:stretch;
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin: 1em auto 2em;
}

h1, h2, h3, h4, h5, footer {
  font-weight: normal;
  letter-spacing: 0.1em;
  margin: .25em;
}
h1 {
  letter-spacing: 0.5em;
  color: white;
}
h2{ margin-bottom: 2em }
h3 { margin-top: 2em; }
h4, h5 { letter-spacing: inital; }

a {
  font-size: 10pt;
  color: #00a4d6;
}

p {
  margin: 0 auto;
  width: 40em;
  max-width: 95%;
}

.collapsible{
  background-color: transparent;
  color: #cfb845;
  cursor: pointer;
  padding: 0.4em;
  font-weight: bold;
  width: 8em;
  border: 1px solid #cfb845;
  text-align: left;
  outline: none;
  font-size: 12pt;
}
.active, .collapsible:hover {
  background-color: #cfb845;
  color: #141414;
  transition-duration: 0.2s;
}
.collapsible:after {
  content: '\25B8';
  color: #cfb845;
  float: left;
  margin-right: .5em;
}
.collapsible:hover:after{
  color: #141414;
}
.active:after {
  content: "\25BE";
  color: #141414;
}

.expanding-text{ 
  /* background-color: #2c2c2c; */
  margin: .5em auto;
  width: 600px;
  max-width: 100%; 
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
  text-align: justify;
}

.howto, .about{
  margin: 0 auto;
  width: 600px;
  max-width: 95%;
  display: flex;
  flex-direction: column;
}
#about-button, #howto-button { float: left; }

#class-list {
  margin: .5em auto;
  text-align: justify;
}

.refresh {
  background-color: transparent;
  color: #00a4d6;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #00a4d6;
  border-radius: 4px;
  margin: 0 auto;
  display: inline-block;
}

.refresh:hover {
  background-color: #00a4d6;
  color: #000000;
  transition-duration: 0.4s;
}

.refresh:active {
  background-color: #00a4d6c0;
  transform: translateY(2px);
}

.rec-pred {
  margin: 0.5em auto;
  width: 600px;
  max-width: 95%;
  height: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: auto;
  justify-content: space-between;
  position: relative;
  overflow: auto;
}

#controls {
  max-width: 100%;
  height: auto;
}

.pred {
  color: #00a4d6;
  text-align: center;
  height: 3em;
  width: inherit;
  max-width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-msg {
  display: none;
}

.recording-msg{
  color: rgb(173, 36, 18);
  display: none;
}

#record, #savbutton { 
  fill: #00a4d6;
  height: 2em;
  width: auto;
  border: 2px outset #00a4d6a2;
  padding: 2px;
  border-radius: 4px;
}

#record:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}

#record:hover, #savbutton:hover {
  background:#00a4d6;
  fill: black;
  cursor: pointer;
  transition-duration: 0.2s;
}

#record.recording { 
  fill: black;
  border: 2px outset black;
  background: rgb(173, 36, 18);
  background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0,black 100%); 
  background: -moz-radial-gradient(center, ellipse cover, #ff0000 0,black 100%); 
  background: radial-gradient(center, ellipse cover, #ff0000 0,black 100%); 
  transform: translateY(2px);
}

.pulse {
  box-shadow: 0 0 0 0 rgba(0, 164, 214, 0.64);
  -webkit-animation: pulsing .25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsing 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
  transition: all 300ms ease-in-out;
}

#save { 
  opacity: 0.25;
  display: none;
}
#save[download] {
  opacity: 1; 
  display: none;
}
#savbutton { 
  padding: 4px;
}

canvas { 
  display: block; 
  background: #141414;
  height: auto;
  max-width: 100%;
  border: .1em solid white;
  border-radius: 2px;
}

#viz {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 50em;
  max-width: 95%;
  margin: 0 auto;
}

#spinner {
  content: '';
  box-sizing: border-box;
  border: 2px solid #2c2c2c;
  border-radius: 50%;
  border-top-color: #00a4d6;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  display: none;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

/* Animation */

@-webkit-keyframes pulsing {
  to {
    box-shadow: 0 0 0 5em rgba(232, 76, 61, 0);
  }
}

@-moz-keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}

@-ms-keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}

@keyframes pulsing {
  to {
    box-shadow: 0 0 0 0.5em rgba(232, 76, 61, 0);
  }
}


@-webkit-keyframes spin {
  to{ -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  to{ transform: rotate(360deg); }
}